#con1 {
    text-align: center;
    border: 1px dotted #000;
    padding: 8px;
}

#con2 {
    text-align: center;
    border: 1px dotted #000;
    padding: 8px;
    font-size: 25px;
}

#ima {
    display: block;
    margin: auto;
}

#con3 {
    text-align: center;
    font-family: sans-serif;
}